# ~/.local/share/chezmoi/dot_aws/private_credentials.tmpl
# This template securely populates the AWS credentials file by iterating
# through the profiles defined in .chezmoidata.toml.

{{ range .data.aws.profiles -}}
{{- if .vaultSecretPath -}}
{{- $creds := (vault .vaultSecretPath).data }}
{{- if eq .name "default" }}
[default]
{{- else }}
[profile {{ .name }}]
{{- end }}
aws_access_key_id = {{ $creds.data.AccessKeyID }}
aws_secret_access_key = {{ $creds.data.SecretAccessKey }}

{{ end -}}
{{- end }}