apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: vault-ingress
  namespace: vault
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`vault.lan`)
      kind: Rule
      services:
        - name: vault
          port: 8200
