apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: '{{ (vault "secret/kube/personal/gpu-server").data.data.ca_crt }}'
      server: https://192.168.150.210:6443
    name: gpu-cluster
contexts:
  - context:
      cluster: gpu-cluster
      namespace: tormenta-dev
      user: gpu-cluster
    name: gpu-cluster
current-context: gpu-cluster
kind: Config
preferences: {}
users:
  - name: gpu-cluster
    user:
      client-certificate-data: '{{ (vault "secret/kube/personal/gpu-server").data.data.client_crt }}'
      client-key-data: '{{ (vault "secret/kube/personal/gpu-server").data.data.client_key }}'
